body {
	font-family:"trebuchet ms",sans-serif;
	font-size:90%;
}
.formulaire {
	background-color:#FAFAFA;
	padding:10px;
	width:280px;
}
fieldset {
	padding:0 20px 20px 20px;
	margin-bottom:10px;
	border:1px solid #DF3F3F;
}
legend {
	color:#DF3F3F;
	font-weight:bold
}

label {
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}

input, textarea, select {
	padding:3px;
	border:1px solid #F5C5C5;
	border-radius:5px;
	width:200px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
}
select {
	margin-top:10px;
}
input[type=radio] {
	background-color:transparent;
	border:none;
	width:10px;
}
input[type=submit], input[type=reset] {
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px #D83F3D;
	cursor:pointer;
}
table {
	border:3px solid #6495ed;
	border-collapse:collapse;
	width:70%;
	/*margin:auto;*/
	margin-top: -275px;
	margin-left: 400px;
}

th {
	font-family:monospace;
	border:1px dotted #6495ed;
	padding:5px;
	background-color:#EFF6FF;
	width:25%;
}
td {
	font-family:sans-serif;
	font-size:80%;
	border:1px solid #6495ed;
	padding:5px;
	text-align:left;
}
